.custom-card.card{
   flex-direction: row;
    background-color: transparent;
    border: 0;
    min-height: 200px;
}
.card .card-img{
    width: 150px;
    flex: 0 0 150px;
    display: block;
    border: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
}

.card .card-body{
    flex: 1 1 auto;
    padding: 20px;
    background: #ae7862;
    color: #e6cfbf;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card h5{
    margin-bottom: 10px;
}

.card .card-text{
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 14px;
    max-height: 78px;
    overflow: hidden;
}

.card .btn{
    margin-top: auto;
    padding: 6px 30px;
}