.card-item{
    display: flex;
    position: relative;
}
.card-img{
    background-color: #727072;
    width: 120px;
    flex: 0 0 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-img img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 auto;
}

.card-img .card-info{
    color: #e6cfbf;
    font-weight: 500;
}

.card-content{
    padding: 20px;
    background: #ae7862;
    color: #e6cfbf;
    display: flex;
    flex-direction: column;
}

.card-content h5{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content .card-description{
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 14px;
}

.card-content .card-date{
    margin-top: auto;
    /*font-weight: 300;*/
    font-style: italic;
    font-size: 14px;
}