.main-body {
  width: 100%;
  height: calc(100% - 100px);
  padding: 30px;
}

.card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 30px;
  /*grid-auto-rows: 200px;*/
}


@media(max-width: 1660px){
  .card-list{
    grid-template-columns: repeat(2, 1fr);
  }
}