.btn{
    display: inline-block;
    padding: 20px;
    min-width: 169px;
    color: #5dba2f;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
}

.btn_link i{
    margin-left: 4px;
}

.btn:hover{
    background-color: #111;
    color: #fff;
    text-decoration: none;
}

.Services .btn_link{
    margin-top: 20px;
}