.navbar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar-list {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}

.navbar .logout-btn{
  background-color: transparent;
  color: #727072;
  border: 0;
  font-size: 22px;
  margin-left: 30px;
  font-weight: 700;
  padding: 0;
}

.navbar .logout-btn:hover{
  color: #000;
  background-color: transparent;
}