.nav-item {
  font-size: 22px;
  margin-left: 30px;
  font-weight: 700;
}

.nav-item > a{
  color: #727072;
  text-decoration: none;
}
.nav-item > a:hover {
  color: #000;
}

.nav-item > a.active {
  color: #000;
}
