.howToStart-list .Item {
    padding: 0 15px;
    max-width: calc(100% / 3);
    width: 360px;
    text-align: center;
}

.howToStart-list .Item img{
    width: 150px;
}

.services .Item img{
    width: 28px;
    margin-right: 14px;
}