@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif Armenian', serif;
  background-color: #242526;

}

.list-unstyled{
  list-style: none;
}

#Wrapper{
  max-width: 1170px;
  padding: 50px 15px;
  margin: 0 auto;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}