.more-btn{
  background: #727072;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  border: 1px solid #727072;
  transition: all .25s ease;
}

.more-btn span{
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 1px;
  background-color: #e6cfbf;
  border-radius: 50%;
  transition: background-color .25s ease;
}

.more-btn:hover{
  border: 1px solid #e6cfbf;
  background: #ae7862;
}

.more-btn:hover span{
  background-color: #727072;
}
